html {background-color: black;
      text-align: center;
}
h4 {color: white;}
.blues { color: aquamarine;
    font-size: 16px;
  }
.big {font-family: verdana;
      font-weight: normal;
      font-size: 50px;
}
h2 { font-family: verdana;
    font-weight: 300px;
    font-size: 72;
    color: white;
  }
  .para {font-family: verdana;
          font-size: 21px;
        color: gray;}
.copy {text-align: right;
      color: gray;
}
